@import '@styles/abstracts/variables';
.fullscreenButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: $color5;
  color: $color2;
  padding: 10px 10px;
  border: none;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}

.fullscreenButton:hover {
  background-color: $color4;
}
