@import '@styles/abstracts/variables';
.fullscreenButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: rgba($color5, 0.3);
  color: $color2;
  padding: 0.5rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}

.fullscreenButton:hover {
  background-color: $color4;
}
