@import '@styles/abstracts/variables';

.hero {
  // min-height: 100vh;
  max-width: 100%;
  background-color: $color2;
  padding: 1rem 2rem;

  &Container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

.profile {
  max-width: 100%;
  padding: 4rem 5rem;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  &Name {
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    text-align: center;
    color: $color5;
  }

  &Title {
    text-align: center;
  }

  &Socialbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }

  &Link {
    position: relative;
    display: flex;
    width: 50%;
    color: $color2;
    align-self: center;
    justify-content: center;
    margin: 1rem;
    font-weight: 500;
    padding: 0.7rem 0.6rem;
    border-radius: 12px;
    background-color: $color5;
    & > i {
      margin: 3px;
      // line-height: 3rem;
    }
    &:hover {
      background-color: $color4;
    }
  }
  &Social {
    width: 2rem;
    // padding: 1rem;
  }

  &Image {
    width: 100%;
    height: auto;
    max-width: 350px;
    object-fit: contain;
    border: 10px solid $color3;
    background-color: white;
    border-radius: 50%;
  }
  &Certification {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: $small-screen) {
}

@media screen and (min-width: $medium-screen) {
}
@media screen and (min-width: $large-screen) {
  // .profile {
  //   flex-flow: row wrap;
  //   max-width: 50%;
  // }
}
