$color1: #312e81;
$color2: #4f46e5;
$color3: #a5b4fc;
$color4: #dad3d3;
$color5: #ffffff;

$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
