@import '@styles/abstracts/variables';

.cta {
  &Container {
    display: flex;
    border-radius: 12px;
    margin: 1rem 2rem;
    background: $color5;
    color: #000;
    text-align: center;
  }

  &Title {
    padding: 1rem 3rem 0;
  }

  &Description {
    font-size: 1rem;
    padding: 1rem 4rem;
    // margin-bottom: 3px;
  }
  &Buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  &Button {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 16px;
    margin-right: 10px;
    color: #ffffff;
    background-color: $color2;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  &Email {
    width: 200px;
    margin-right: 4px;
    border-radius: 12px;
  }
}

@media screen and (min-width: $medium-screen) {
  .cta {
    &Description {
      font-size: 1.3rem;
      padding: 1rem 4rem;
      // margin-bottom: 3px;
    }
  }
}
